.app-bar{
    height: 7%;
}

.search__container{
    border: 1px solid #ffffff86;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
    height: 50px;
    align-items: center;
}

.search__container input{
   background-color: transparent;
   border: none;
   color: var(--color-creamson);
   line-height: 25px;
}

.search__container input:focus {
    outline: none;
  }
